<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/menu"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            Favoritos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let pokemon of favorites; let i = index">
                <ion-list button (click)="showPokemon(i + 1)">
                    <ion-list-header>
                        <img style="height: 150px;" [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
                        <ion-card-title class="centered-text">{{ pokemon.name }}</ion-card-title>
                        <ion-button fill="clear" (click)="removeFavorite(i, $event)">
                            <ion-icon name="trash-outline" color="medium"></ion-icon>
                        </ion-button>
                    </ion-list-header>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>