:root {
    /** primary **/
    --ion-color-primary: #808080;
    --ion-color-primary-contrast: #000000;
    /** secondary **/
    --ion-color-secondary: #808080;
    --ion-color-secondary-contrast: #000000;
    /** tertiary **/
    --ion-color-tertiary: #808080;
    --ion-color-tertiary-contrast: #000000;
    /** success **/
    --ion-color-success: #808080;
    --ion-color-success-contrast: #000000;
    /** warning **/
    --ion-color-warning: #808080;
    --ion-color-warning-contrast: #000000;
    /** danger **/
    --ion-color-danger: #808080;
    --ion-color-danger-contrast: #000000;
    /** dark **/
    --ion-color-dark: #808080;
    --ion-color-dark-contrast: #ffffff;
    /** medium **/
    --ion-color-medium: #2c2d2d;
    --ion-color-medium-contrast: #282626;
    /** light **/
    --ion-color-light: #0b0b0b;
    --ion-color-light-contrast: #000000;
}

html {
    --ion-text-color: #000000;
}