<ion-content padding class="ion-text-center">
    <ion-card class="ion-text-center">
        <img src="https://media1.tenor.com/m/4fUx9DqJV3EAAAAC/pok%C3%A9mon-pokemon.gif" class="centered-image" />
        <div class="image-text">
            Bienvenido
        </div>
        <form (ngSubmit)="login()" style="display: flex; flex-direction: column; align-items: center;">
            <ion-button expand="block" color="danger" routerLink="/login">Ir a Login</ion-button>
            <ion-button expand="full" color="danger">Full</ion-button>
        </form>
    </ion-card>
</ion-content>