#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #fbf9f9;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.centered-text {
    text-align: center;
}

.custom-card {
    width: 100%;
    /* Ajusta el ancho de la tarjeta */
    margin: 10 auto;
    /* Centra la tarjeta horizontalmente */
    max-width: 100px;
    /* Define un ancho máximo para la tarjeta */
}