ion-content {
    background-color: #f4f5f8;
}

ion-grid {
    padding: 20px;
}

h1 {
    text-transform: capitalize;
    color: #070707;
    font-size: 2em;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

p {
    color: #070707;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
    strong {
        color: #0b0b0b;
    }
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
    li {
        color: #0a0a0a;
        font-size: 1em;
        line-height: 1.6;
        margin-bottom: 5px;
    }
}

ion-toolbar {
    --background: #060606;
    --color: #070707;
}